{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>RC Scorecard</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-12">
          <div class="form h-100">

            <h3 style="text-align: center;"><img src="{% static 'images/cx.png' %}" width="60px" style="margin-right:25px">RC Seeds Scorecard Input</h3>

            <form method="post" id="cxForm" name="cxForm" action="registration/done">
             {% csrf_token %}

            <!-- Basic KPI Information input-->
              <div class="row">
                <div class="col-md-3 form-group mb-4">
                  <label for="cxKpiName" class="col-form-label">KPI Name</label>
                  <select class="custom-select" id="cxKpiName" name="cxKpiName">
                    <option value="" disabled selected hidden>Choose the KPI</option>
                    <option value="Complaints">Complaints</option>
                    <option value="Production Adherence">Production Adherence</option>
                    <option value="Unit COGM (CMDTY)">Unit COGM (CMDTY)</option>
                    <option value="Digital Roadmap Implem.">Digital Roadmap Implem.</option>
                    <option value="New Traits - Production Adherence">New Traits - Production Adherence</option>
                    <option value="Culture & Engagement">Culture & Engagement</option>
                    <option value="Inclusion & Diversity">Inclusion & Diversity</option>
                    <option value="Feedback & Development">Feedback & Development</option>
                    <option value="Recordable Incident Rate">Recordable Incident Rate</option>
                    <option value="Severity Score">Severity Score</option>
                    <option value="GHG Measurement">GHG Measurement</option>
                    <option value="Genuine Touches">Genuine Touches</option>
                  </select>
                </div>
                
                <div class="col-md-3 form-group mb-4">
                  <label for="cxRegion" class="col-form-label">Region</label>
                  <select class="custom-select" id="cxRegion" name="cxRegion">
                    <option value="" disabled selected hidden>Choose the region</option>
                    <option value="BR">Brasil</option>
                    <option value="MEX">Mexico</option>
                    <option value="AR">Argentina</option>
                    <option value="GUA">Guatemala</option>
                    <option value="COL">Colombia</option>
                  </select>
                </div>

                <div class="col-md-3 form-group mb-4">
                  <label for="cxBusiness" class="col-form-label">Business</label>
                  <select class="custom-select" id="cxBusiness" name="cxBusiness">
                    <option value="" disabled selected hidden>Choose the business</option>
                    <option value="Corn">Corn</option>
                    <option value="Soybean">Soybean</option>
                    <option value="Cotton">Cotton</option>
                  </select>
                </div>

                <div class="col-md-3 form-group mb-4">
                  <label for="cxPeriod" class="col-form-label">Period</label>
                  <select class="custom-select" id="cxPeriod" name="cxPeriod">
                    <option value="" disabled selected hidden>Choose the period</option>
                    <option value="SAF21">SAF21</option>
                    <option value="V22">V22</option>
                    <option value="CrY21">CrY21</option>
                    <option value="Cal21">Cal21</option>
                  </select>
                </div>

              </div>

              <!-- End of basic KPI information input -->


              <!-- KPI YTD Info -->
              <div id="cxYTDDiv">
                <div class="row d-flex justify-content-center">
                  <div class="form-group mb-2">
                    <b style="font-size: 120%;">Actual YTD</b>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3 form-group mb-4">
                    <label for="cxYTDQ1" class="metricMonth">Q1</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxYTDQ1" id="cxYTDQ1"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>

                  <div class="col-md-3 form-group mb-4">
                    <label for="cxYTDQ2" class="metricMonth">Q2</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxYTDQ2" id="cxYTDQ2"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>

                  <div class="col-md-3 form-group mb-4">
                    <label for="cxYTDQ3" class="metricMonth">Q3</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxYTDQ3" id="cxYTDQ3"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>

                  <div class="col-md-3 form-group mb-4">
                    <label for="cxYTDQ4" class="metricMonth">Q4</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxYTDQ4" id="cxYTDQ4"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>

                </div>
              </div>
              <!-- End of KPI YTD input-->

              <!-- KPI Target Info -->
              <div id="cxTGTDiv">
                <div class="row d-flex justify-content-center">
                  <div class="form-group mb-2">
                    <b style="font-size: 120%;">Target</b>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-3 form-group mb-4">
                    <label for="cxTGTQ1" class="metricMonth">Q1</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxTGTQ1" id="cxTGTQ1"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>

                  <div class="col-md-3 form-group mb-4">
                    <label for="cxTGTQ2" class="metricMonth">Q2</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxTGTQ2" id="cxTGTQ2"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>

                  <div class="col-md-3 form-group mb-4">
                    <label for="cxTGTQ3" class="metricMonth">Q3</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxTGTQ3" id="cxTGTQ3"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>

                  <div class="col-md-3 form-group mb-4">
                    <label for="cxTGTQ4" class="metricMonth">Q4</label>
                    <div class="d-flex justify-content-center">
                      <div class="align-self-center"><input type="number" min="0" max="100" class="form-control" name="cxTGTQ4" id="cxTGTQ4"></div>
                      <div class="align-self-center" style="margin-left: 3px;">%</div>
                    </div>
                  </div>
                
                </div>

              </div>
              <!-- End of KPI Target input-->

              <div class="row justify-content-end">
                <div class="col-md-2 form-group mb-0 mt-3">
                  <input type="submit" value="Save Information" class="btn btn-success">
                </div>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>

  </div>

  </body>
</html>