{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>RC Scorecard</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <div class="row align-items-stretch no-gutters contact-wrap">
        <div class="col-md-12">
          <div class="form h-100">

            <h3 style="text-align: center;"><img src="{% static 'images/cx.png' %}" width="60px" style="margin-right:25px">RC Seeds Scorecard Input</h3>

            <div class="form-group mb-2">
              
              <b style="font-size: 120%;">O KPI "{{registration_data.cxKpiName}}" foi registrado com sucesso!</b>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  </body>
</html>