body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f2f5;
  line-height: 1.9;
  color: #8c8c8c;
  position: relative; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  color: #000; }

.content {
  padding: 7rem 0; }

.heading {
  font-size: 2.5rem;
  font-weight: 900; }

.form-control {
  border: 1px solid #193d53;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
  height: 30;
  text-align: center; }

 .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000;
  font-size: 13px; }

.btn, .custom-select {
    height: 45px;
    border-radius: 0;
    border: 1px solid #193d53;}

.custom-select {
  border: 1px solid #193d53;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0; }

 .custom-select:active, .custom-select:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef; }

 .contact-wrap .col-form-label {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0 0 10px 0;
    display: inline-block;
    padding: 0; }

 .contact-wrap .form, .contact-wrap .contact-info {
    padding: 40px; }

 .contact-wrap .contact-info {
    color: rgba(255, 255, 255, 0.5); }

 .contact-wrap .contact-info ul li {
      margin-bottom: 15px;
      color: rgba(255, 255, 255, 0.5); }

 .contact-wrap .contact-info ul li .wrap-icon {
        font-size: 20px;
        color: #fff;
        margin-top: 5px; }

 .contact-wrap .form {
    background: #fff; }

.contact-wrap .form h3 {
      color: #000;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 30px; }


.contact-wrap .contact-info {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }


.contact-wrap .contact-info a {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }


    @media (max-width: 1199.98px) {
      .contact-wrap .contact-info {
        height: 400px !important; } }
    .contact-wrap .contact-info h3 {
      color: #fff;
      font-size: 20px;
      margin-bottom: 30px; }

#message {
  resize: vertical; }

  @media (min-width: 1200px) {
    .container{
        max-width: 1600px;
    }
}

.metricMonth{
  font-size: 15px;
  color: #b3b3b3;
  display: block;
  text-align: center;
}

